<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset=" utf-8">
        <meta name="viewport" content="width=device-width, initil-scale=1.0">
        <title>Red social</title> 
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    
    <body>
        <form action="" method="POST" id="form">
            <div class="form">
                <h1>Bienvenido</h1>
                <div class="grupo">
                    <input type="text" name="" required><span class=""></span>
                    <label for="">Nombre</label>
               </div> 
               <div class="grupo">
                <input type="email" name="" required><span class=""></span>
                <label for="">Email</label>
               </div>
           </div>
           <div class="grupo">
                <input type="password" name="" required><span class=""></span>
                <label for="">Contrasena</label>
                <button type="submit">Registrarse</button>
            </div> 
            
        </form>
    </body>
</html>